html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    font-family: $font-family-inter;
    font-size: $body-font-size;
    font-weight: 400;
    color: $white;
    background-color: $very-dark-blue;
    &.no_scroll {
        overflow: hidden;
    }
}