.hero_card {
    background-color: $dark-desaturated-blue;
    border-radius: 20px;
    .hero_card__image__container {
        .hero_card__image__content {
            background-color: $soft-violet-over;
        }
    }
    .hero_card__text__container {
        padding: 2.5rem;
        .hero_card__title {
            font-size: 30px;
            span {
                color: $soft-violet;
            }
        }
        .hero_card__description {
            color: $white-paragraph;
            font-size: 14px;
            font-weight: 400;
            font-family: $font-family-lexend-deca;
        }
        .hero_card__meta__container {
            .hero_card__meta {
                p{
                    font-size: 15px;
                    font-size: large;
                    font-weight: 700;
                    color: $white;
                }
                span {
                    color: $white-stat-heading;
                    font-size: 10px;
                    font-weight: 400;
                    text-transform: uppercase;
                    font-family: $font-family-lexend-deca;
                }
            }
        }
    }
}