// Colors
// Primary
$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
$soft-violet-over: hsla(277, 64%, 61%,0.6);

// Neutral
$white: hsl(0, 0%, 100%);
$white-paragraph: hsla(0, 0%, 100%, 0.75);
$white-stat-heading: hsla(0, 0%, 100%, 0.6);


// Font 
$body-font-size: 15px;
$font-family-inter: 'Inter';
$font-family-lexend-deca: 'Lexend Deca';